<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body id="dark-mode">
   
<section  id="banner">
                    <h3>Upload image</h3>
              <form action = {{ url_for('upload') }} method="post" enctype="multipart/form-data">
                <input type="time" name="utime" id="usertime" placeholder=""/>
                <input  style="border-radius:20px;font-family: 'Poppins', sans-serif;" type="file" name="imagefile" value="{{request.form.imagefile}}" id="fileToUpload">
    <input style="border-radius:10px;height:40px;width:100px;font-family: 'Poppins', sans-serif;background: rgb(255,85,0);
background: linear-gradient(90deg, rgba(255,85,0,1) 2%, rgba(237,109,20,1) 67%, rgba(246,128,0,1) 87%);border:0px;" type="submit" value="Upload" name="submit" id="submit"></form>
            </section>
</body>
</html>